html,
body {
    padding: 0;
    margin: 0;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    min-height: 100vh;
}

a {
    color: #fff;
}

.carousel-item img {
    height: 380px;
    max-width: 600px;
    margin: auto;
    z-index: 1;
}

.carousel.text p {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 0;
    text-align: justify;
    z-index: 2;
}

@media (min-width: 576px) {
    .carousel.text p {
        width: 50%;
    }
}

.carousel.slide.text {
    padding-bottom: 100px;
}

.menu-element {
    display: block;
    padding: 15px;
}

.menu-element:hover {
    text-decoration: none;
    color: #a448d5;
}

#nav-container nav {
    padding-top: 30px;
}

#nav-container {
    display: none;
}

.social-medias {
    list-style-type: none;
    padding-left: 15px;
}

header {
    padding: 15px;
    margin-top: 30px;
    margin-right: 45px;
    text-align: right;
}

.hamburger {
    cursor: pointer;
    font-size: 30px;
    padding: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

.contact-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-img-box img {
    width: 90%;
}

.content p {
    text-align: justify;
}

.news-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.news-container img {
    padding: 5px;
    width: 80%;

}
